*/**/.DS_Store
*.log

.vscode/
.idea/

ASB/build
ASB/package-lock.json

Federation/dist
Federation/coverage
Federation/coverageEnv
Federation/coverage.json
Federation/allFiredEvents
Federation/scTopics
Federation/Unified.sol

#consider removing this at all
TestingERC20/build

Voting/ethereum/build/
Voting/mirror_process/package-lock.json
Voting/test/it/build/
Voting/test/it/package-lock.json

**/node_modules/
# **/build/

nohup.out

_out
_reports
