.DS_Store
*/**/.DS_Store
*.log
.vscode/
/node_modules
Federation/node_modules
Federation/build
Federation/dist
Federation/coverage
Federation/coverageEnv
Federation/coverage.json
Federation/allFiredEvents
Federation/scTopics
Federation/Unified.sol
ASB/build
ASB/node_modules
TestingERC20/node_modules
TestingERC20/build
Validators/build
Validators/node_modules
Voting/build
Voting/node_modules
.idea
