*/**/.DS_Store
*.log
results.xml

# IDEs
.vscode/
.idea/
.DS_Store

asb/ethereum/build/

asb/ethereum/coverage
asb/ethereum/coverageEnv
asb/ethereum/coverage.json
asb/ethereum/allFiredEvents
asb/ethereum/scTopics
asb/ethereum/Unified.sol

asb/test/build/

deprecated-federation/dist
deprecated-federation/coverage
deprecated-federation/coverageEnv
deprecated-federation/coverage.json
deprecated-federation/allFiredEvents
deprecated-federation/scTopics
deprecated-federation/Unified.sol

voting/ethereum/build/
voting/processor/package-lock.json
voting/status/package-lock.json
voting/status/*.csv
voting/test/it/build/
voting/test/it/package-lock.json
voting/orbs/mergetool

subscription/ethereum/build/

rewards-distribution/ethereum/build/

**/node_modules/
# **/build/

nohup.out
logs/

_out
_reports

coverage.json
coverage/
